/* resets */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* general styling */

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
  font-family: 'Merriweather', 'Georgia', serif;
  font-size: 15px;
  color: #444;
  text-rendering: optimizeLegibility;
  background: #ffffff;
}

strong {
  font-weight: bold;
}

/* links */

a:link, a:visited {
  margin: -1px -2px 0 -2px;
  padding: 1px 2px 0 2px;
  color: #3677a9;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #fff;
  background-color: #3677a9;
}

div.content h1 a:link, div.content h1 a:visited {
  margin: 0;
  padding: 0;
  color: #444;
}

div.content h1 a:hover {
  background: transparent;
}

/* header */

nav {
  width: 680px;
  margin: 0 auto 20px auto;
  padding: 40px 0 20px 0;
  border-top: 5px solid #444;
  border-bottom: 1px solid #e8e8e8;
}

nav ul li {
  display: inline;
  margin: 0 40px 0 0;
}

nav ul li a {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li a:link, nav ul li a:visited {
  color: #ccc;
  font-weight: normal;
}

nav ul li.active a, nav ul li a:hover {
  color: #444;
  background-color: transparent;
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  color: #aaa;
}

footer p {
  width: 680px;
  margin: 0 auto;
  padding: 25px 0 1em 0;
  border-top: 1px solid #e8e8e8;
}

footer ul.icons {
  width: 680px;
  margin: 0 auto;
}

footer ul.icons li {
  display: inline;
  margin: 0 15px;
}

footer ul.icons li a {
  border-bottom: 0;
}

footer ul.icons li a:hover {
  background: transparent;
}

footer ul.icons li a img {
  width: 32px;
  opacity: 0.3;
}

footer ul.icons li a:hover img {
  opacity: 0.6;
}

/* content */

div.content {
  width: 680px;
  margin: 0 auto;
  padding: 40px 40px 180px 40px;
  background: #fff;
}

div.content + div.content {
  margin: -160px auto 0 auto;
}

div.content p.date {
  margin: 0 0 4px 0;
  font-size: 11pt;
  text-transform: uppercase;
  color: #aaa;
}

div.content h1 {
  margin: 0 0 0.7em 0;
  font-size: 40px;
  font-weight: 700;
}

div.content h2 {
  margin: 1.2em 0 0.3em 0;
  font-size: 28px;
  font-weight: 700;
}

div.content h3 {
  margin: 1.2em 0 0.3em 0;
  font-size: 22px;
  font-weight: 700;
}

div.content h4 {
  margin: 1.2em 0 0.3em 0;
  font-size: 16px;
  font-weight: 700;
}

div.content p, div.content ul, div.content ol {
  margin: 0 0 1em 0;
  line-height: 170%;
}

div.content img {
  display: block;
  margin: 1.6em auto;
}

div.content ul li {
  margin: 0 0 4px 40px;
  list-style: disc;
}

div.content ol li {
  margin: 0 0 4px 40px;
  list-style: decimal;
}

div.content .highlight {
  margin: 1.6em 0 1.6em 0;
  padding: 5px 10px;
}

div.content code {
  margin: -2px;
  padding: 2px;
  font-family: 'Roboto Mono', monospace;
  font-size: 10pt;
  font-weight: bold;
  color: #93a1a1;
}

div.content .highlight code {
  font-weight: normal;
}

/* archives list */

div.content ul.archives li {
  margin: 0 0 4px 0;
  list-style: none;
}

div.content ul.archives span.date {
  display: inline-block;
  width: 95px;
  text-transform: uppercase;
  color: #aaa;
}

/* comments */

div.content h2.comments {
  margin-top: 0;
}
