/* resets */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* general styling */

body {
  font-family: "Georgia", serif;
  color: #444;
  font-size: 13pt;
  text-rendering: optimizeLegibility;
  background: #eee;
}

/* links */

a:link, a:visited {
  margin: 0 -2px;
  padding: 0 2px;
  color: #0be;
  text-decoration: none;
}

a:hover {
  color: #fff;
  background-color: #0be;
}

div.content h1 a:link, div.content h1 a:visited {
  margin: 0;
  padding: 0;
  color: #444;
}

div.content h1 a:hover {
  color: #fff;
  background-color: #444;
}

/* header */

nav {
  width: 640px;
  margin: 0 auto;
  padding: 30px 40px;
}

nav ul li {
  display: inline;
  margin: 0 40px 0 0;
}

nav ul li a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16pt;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul li a:link, nav ul li a:visited {
  color: #aaa;
}

nav ul li.active a, nav ul li a:hover {
  color: #444;
  background-color: transparent;
}

header.banner {
  color: #fff;
  background: #00bfff url(/img/header.png) repeat-x bottom left;
}

header.banner h1 {
  width: 640px;
  margin: 0 auto;
  padding: 0 40px;
  font-size: 38pt;
}

/* footer */

footer {
  padding: 30px 0;
  text-align: center;
  color: #aaa;
  background: #eee;
}

footer p {
  width: 720px;
  margin: 0 auto;
}

footer ul.icons {
  width: 720px;
  margin: 1em auto 0 auto;
}

footer ul.icons li {
  display: inline;
  margin: 0 15px;
}

footer ul.icons li a:hover {
  background: transparent;
}

footer ul.icons li a img {
  width: 32px;
  opacity: 0.3;
}

footer ul.icons li a:hover img {
  opacity: 0.6;
}

/* content */

div.content {
  width: 640px;
  margin: 0 auto;
  padding: 40px 40px 20px 40px;
  background: #fff;
}

div.content + div.content {
  margin: 60px auto 0 auto;
}

div.content p.date {
  margin: 0 0 4px 0;
  font-size: 11pt;
  text-transform: uppercase;
  color: #aaa;
}

div.content h1 {
  margin: 0 0 0.5em 0;
  font-size: 36pt;
}

div.content h2 {
  margin: 0 0 0.5em 0;
  font-size: 26pt;
}

div.content h3 {
  margin: 0 0 0.5em 0;
  font-size: 22pt;
}

div.content h4 {
  margin: 0 0 0.5em 0;
  font-size: 16pt;
}

div.content p, div.content ul, div.content ol {
  margin: 0 0 1em 0;
  line-height: 140%;
}

div.content ul li {
  margin: 0 0 4px 40px;
  list-style: disc;
}

div.content ol li {
  margin: 0 0 4px 40px;
  list-style: decimal;
}

div.content code {
  color: #93a1a1;
  font-size: 10pt;
}

div.content pre {
  margin: 0 -40px 1em -40px;
  padding: 5px 40px;
}

div.content span.date {
  width: 150px;
  text-transform: uppercase;
  color: #aaa;
}
