/* resets */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* general styles */

body {
  padding: 60px;
  font-family: "Georgia", serif;
  color #444;
  font-size: 12pt;
  text-rendering: optimizeLegibility;
  background: #fff;
}

h1, h2, h3 {
  margin: 0 0 0.3em 0;
  font-family: Helvetica, sans-serif;
  font-size: 32pt;
  font-weight: bold;
  color: #59a;
}

h3 {
  font-size: 16pt;
}

p {
  margin: 0 0 1.5em 0;
  line-height: 170%;
}

p:last-child {
  margin: 0;
}

a:link, a:visited {
  margin: 0 -2px;
  padding: 0 2px;
  color: #59a;
  text-decoration: none;
}

a:hover {
  color: #fff;
  background-color: #59a;
}

/* structure */

div.content {
  width: 900px;
  margin: 0 auto;
}

div.top-left {
  float: left;
  width: 450px;
  margin: 0 0 20px 0;
  text-align: right;
}

div.top-right {
  position: relative;
  float: right;
  width: 430px;
  height: 338px;
  margin: 0 0 20px 0;
  font-size: 14pt;
}

div.inner-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 390px;
  padding: 15px 20px;
}

div.bottom-left {
  clear: both;
  float: left;
  width: 330px;
  margin: 0 0 60px 80px;
  padding: 15px 20px 15px 20px;
  text-align: right;
  font-size: 10pt;
}

div.bottom-right {
  clear: right;
  float: right;
  width: 390px;
  margin: 0 0 60px 0;
  padding: 15px 20px;
  background: #f6f6f6;
}
