<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />

  <title>{{ page.title }}</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,700,400italic|Merriweather:400,400italic,700,700italic|Roboto:300' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/default.css" type="text/css" />
  <link rel="stylesheet" href="/css/solarized-dark.css" type="text/css" />
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<body>

<header>
  <nav>
    <ul>
      <li class="{{ page.home }}"><a href="/">home</a></li>
      <li class="{{ page.archives }}"><a href="/archives/">archives</a></li>
      <li class="{{ page.about }}"><a href="/about/">about</a></li>
    </ul>
  </nav>
</header>
